body {
  background: #ffe;
  line-height: 1.7em;
}

.menu {
  background: #2c3e50;
  padding: .5em;
}

.menu-heading {
  color: #fff;
  font-weight: 400;
  font-size: 1.2em;
}

.menu-list {
  float: right;
}

.menu-link {
  color: #fff;
}

.menu-link:hover {
  color: #fff;
  background: transparent;
}

.post-it {
  padding: 10px;
  width: 300px;
  height: 300px;
  border: 1px solid #dddedf;
}

.post-it h2 {
  margin-top: 0;
}

.post-it .fa{
  float: right;
}

.post-it .fa:hover{
  cursor: pointer;
}

.post-it textarea {
  height: 82%;
  width: 98%;
  resize: none;
}

.popup-email {
  padding: 10px;
  box-shadow: 0px 0px 5px 0px #656565;
  border-radius: 3px;
  background-color: #fff;
  width: 300px;
  height: 150px;
  position: fixed;
  top: 50%;
  left: 50%;
  margin-left: -150px;
  margin-top:-75px;
}

.email-form input {
  width: 100%;
}

.login-button {
  position: absolute;
  bottom: 10px;
  right: 10px;
}
